<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alvindrakes.fingerpainter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CanvasBlank"
            android:theme="@style/NoActionBar" />

        <activity
            android:name=".ColourPicker"
            android:theme="@style/AppTheme.PopMe" />

        <activity
            android:name=".HomePage"
            android:label="FingerPainter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ImageCanvas"
            android:theme="@style/NoActionBar" />

        <activity
            android:name=".BrushPicker"
            android:theme="@style/AppTheme.PopMe" />
    </application>

</manifest>